<nav class="navbar navbar-light bg-info header" style="padding: 7px;" id="header">
  <a class="navbar-brand text-white" href="/" id="header-favicon">
    <img src="static/image/favicon.png" alt="ロゴ" width="64px" height="64px">
  </a>
  <a class="nav-link text-white" href="https://docs.google.com/document/d/1rgfK-Dh7KEF4lLySoEjjiechcJvBKN8HuFrzIZ3u_mw/edit?usp=sharing" style="text-decoration: underline;" id="header-letter">
    <h4>前日譚（外部リンク）</h4>
  </a>
  <a class="nav-link text-white" href="/" style="text-decoration: underline;" id="header-letter">
    <h4>天使の手紙へ</h4>
  </a>

  <a class="nav-link text-white" href="/persons" style="text-decoration: underline;" id="header-letter">
    <h4>忘年会しおり</h4>
  </a>
  <a class="nav-link text-white " href="/start" style="text-decoration: underline;" id="header-login">
    <h4>ログイン画面へ</h4>
  </a>
</nav>