<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/vnd.microsoft.icon">
  <script src="/static/js/index.js"></script>
  <title>謎解きアプリ</title>
</head>

<body>
  <!-- header -->
  {% include "header.html" %}

  <div id="letterpack">
    <div id="lettervertical">
      <div id="letterhorizon">
        <img src="/static/image/paper.png" id="letterimg">
      </div>
      <div id="tap">
        <p>↑Tap!!↑</p>
      </div>
    </div>
  </div>


  <input type="checkbox" id="popup-on" checked="checked">
  <div id="messagepack">
    <div id="loginguide">
      <img src="/static/image/ue.png" id="loginguide-img">
    </div>
    <div id="message">
      <label for="popup-on">
        <p>　わたしは天使です（←らっぷ）。</p>
        <p>　あなたがこれを読んでいるということは、わたしは悪魔とのらっぷばとるに負けてしまったのでしょう。</p>
        <p>　みなさんには、謎を解いてウイルスプログラムを止めてもらいたいと思っています。</p>
        <p>　悪魔からの妨害で犯人の名前を直接書くことはできません。しかし、しおりにその手がかりを残すことができました！</p>
        <p>　では、画面右上のリンクからログイン画面に行きましょう！</p>
      </label>
    </div>
  </div>

  <!-- footer -->
  {% include "footer.html" %}
</body>

</html>