<div class="col-sm-12 col-12" style="text-align: center; margin:10px;">
  <input class="ans_box" type="text" maxlength="1" id="box0">
  <input class="ans_box" type="text" maxlength="1" id="box1">
  <input class="ans_box" type="text" maxlength="1" id="box2">
  <input class="ans_box" type="text" maxlength="1" id="box3">
</div>
<div class="col-sm-12 col-12" style="text-align: center; margin:10px;">
  <input class="ans_box_deco" type="text" readonly="readonly">
  <input class="ans_box_deco" type="text" readonly="readonly" value="①">
  <input class="ans_box_deco" type="text" readonly="readonly" value="②">
  <input class="ans_box_deco" type="text" readonly="readonly" value="⑥">
</div>