<h2>問題 2</h2>
<div class="col-sm-12" style="text-align: center;">
  <h2>漢字のパーツを組み合わせて</h2>
  <h2>2 組の熟語を作りましょう！</h2>
  <h2>出来た熟語の読み方を答えてね！</h2>
</div>
<div class="col-sm-12" style="text-align: center;">
  <button type="button" onclick="pos_reset()" class="q1_reset_button">位置リセット</button>
</div>
<div class="q2areadiv" cmanOMat="area">
  <input class="q2contents" type="text" readonly="readonly" value="土" cmanOMat="movearea">
  <input class="q2contents" type="text" readonly="readonly" value="由" cmanOMat="movearea">
  <input class="q2contents" type="text" readonly="readonly" value="ノ" cmanOMat="movearea">
  <input class="q2contents" type="text" readonly="readonly" value="口" cmanOMat="movearea">
  <input class="q2contents" type="text" readonly="readonly" value="也" cmanOMat="movearea">
  <input class="q2contents" type="text" readonly="readonly" value="王" cmanOMat="movearea">
  <input class="q2contents" type="text" readonly="readonly" value="シ" cmanOMat="movearea">
  <input class="q2contents" type="text" readonly="readonly" value="一" cmanOMat="movearea">
  <input class="q2contents" type="text" readonly="readonly" value="求" cmanOMat="movearea">
</div>
<br>