<h2>問題 3</h2>
<div class="row align-items-start justify-content-around">
  <div class="col-sm-12" style="text-align: center;">
    <h2>①～④に当てはまる1文字を入れてね！</h2>
    <h2>空いてる□も入力できるよ！</h2>
  </div>
  <div class="col-10" style="text-align: center;">
    <div class="row">
      <div class="col-sm-3 col-3">
        <table class="q3table" border="2">
          <tr>
            <td>
              <div class="q3contents">ね</div>
            </td>
          </tr>
          <tr>
            <td>
              <input class="q3input" cols="1" rows="1" value=""></input>
            </td>
          </tr>
          <tr>
            <td>
              <input class="q3input q3pink" cols="1" rows="1" value="①"></input>
            </td>
          </tr>
          <tr>
            <td>
              <input class="q3input" cols="1" rows="1" value=""></input>
            </td>
          </tr>
          <tr>
            <td>
              <div class="q3contents">ふ</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-3 col-3">
        <table class="q3table" border="2">
          <tr>
            <td>
              <input class="q3input" cols="1" rows="1" value=""></input>
            </td>
          </tr>
          <tr>
            <td>
              <div class="q3contents">し</div>
            </td>
          </tr>
          <tr>
            <td>
              <input class="q3input q3pink" cols="1" rows="1" value="②"></input>
            </td>
          </tr>
          <tr>
            <td>
              <div class="q3contents">せ</div>
            </td>
          </tr>
          <tr>
            <td>
              <input class="q3input" cols="1" rows="1" value=""></input>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-3 col-3">
        <table class="q3table" border="2">
          <tr>
            <td>
              <input class="q3input" cols="1" rows="1" value=""></input>
            </td>
          </tr>
          <tr>
            <td>
              <div class="q3contents">け</div>
            </td>
          </tr>
          <tr>
            <td>
              <input class="q3input q3pink" cols="1" rows="1" value="③"></input>
            </td>
          </tr>
          <tr>
            <td>
              <div class="q3contents">さ</div>
            </td>
          </tr>
          <tr>
            <td>
              <input class="q3input" cols="1" rows="1" value=""></input>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-3 col-3">
        <table class="q3table" border="2">
          <tr>
            <td>
              <div class="q3contents">ぬ</div>
            </td>
          </tr>
          <tr>
            <td>
              <input class="q3input" cols="1" rows="1" value=""></input>
            </td>
          </tr>
          <tr>
            <td>
              <input class="q3input q3pink" cols="1" rows="1" value="④"></input>
            </td>
          </tr>
          <tr>
            <td>
              <input class="q3input" cols="1" rows="1" value=""></input>
            </td>
          </tr>
          <tr>
            <td>
              <div class="q3contents">ひ</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>