<h2>問題 4</h2>
<div class="row" style="text-align: center;">
  <div class="col-sm-12 col-12" style="text-align:center">
    <h2>???????に入る文字は何？</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12" style="text-align:center">
    s &#8680; a
  </div>
  <div class="col-md-6 col-sm-12" style="text-align:center">
    k &#8680; j
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12" style="text-align:center">
    0 &#8680; 9
  </div>
  <div class="col-md-6 col-sm-12" style="text-align:center">
    p &#8680; o
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12" style="text-align:center">
    @ &#8680; p
  </div>
  <div class="col-md-6 col-sm-12" style="text-align:center">
    z &#8680; S
  </div>
</div>

<div class="row">
  <div class="col-6" style="text-align: right">
    notyjfsu &#8680;
  </div>
  <div class="col-6" style="text-align: left;">
    <textarea class="q4input" cols="14" rows="1" placeholder="????????"></textarea>
  </div>
</div>